/*
  sign stylesheets
*/
body {
  position: relative;
  padding-top: 0;
  background-color: #ffffff;
  /*background-image: url(/imgs/bg.jpg);*/
}
header {
  margin-top: 60px;
}
#signout {
  color: #33CCFF;
  font-size: 14px;
  float: right;
  line-height: inherit;
}

.chkLight {
  color: #33CCFF !important;
}

.underlineH {
  padding: 0 0 0;
  border-bottom: 3px solid #33CCFF;
  margin-bottom: 3px;
}

/*
  match index
*/
.main-info {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #EEEEEE;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.main-info-left {
  padding:10px 20px 10px 20px;
  border-right: 1px solid #dbd9d9;
}
.main-info-left span {
  font-size: 16px;
  line-height: 25px;
}
.main-info-right {
  padding:10px 20px 10px 20px;
  float: right;
}
.main-info-right a {
  font-size: 16px;
}
.main-info-em {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
  public stylesheets
*/
hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.15), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.15), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.15), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.15), rgba(0,0,0,0));
  border: 0;
}
#flash_msg_div {
  position: fixed;
  top: 50px;
  z-index: 9000;
  margin-bottom: 0;
}
#flash_msg {
  display: none;
}
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #FFF;
}