/*
  sign stylesheets
*/
body {
  position: relative;
  padding-top: 0;
  background-color: white;
  background-image: url(/imgs/bg.jpg);
}
hr#info_hr {
  margin-bottom: -5px;
}
hr#footer_hr {
  margin: 10px 0;
}
.info {
  margin-top: 20px;
}
/* sign in */
.sign-in-title {
  margin-top: 125px;
  text-align: center;
  margin-bottom: 50px;
}
.sign-in-title h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.sign-in-title p {
  margin-top: 5px;
  font-size: 20px;
  line-height: 27px;
  color: #999;
}
.sign-in {
  margin-top: -25px;
  margin-bottom: 20px;
}
.sign-in-input, #sign_span {
  font-size: 18px;
  height: 29px;
  line-height: 29px;
}
#cookies {
  margin-top: 2px;
}
/* sign up */
.sign-up {
  margin-top: 60px;
  margin-bottom: 20px;
}
.sign-up-title {
  margin-bottom: 15px;
}
.sign-up-title h1 {
  padding: 0 0 2px;
  width: 248px;
  border-bottom: 5px solid #33CCFF;
}
.sign-up-submit {
  margin-top: 0;
  margin-bottom: 10px;
}
/*
  public stylesheets
*/
.btn-div {
  width: 93px;
  margin-right: -25px;
}
.input-div {
  width: 250px;
  margin-right: -15px;
}
div.nbsp {
  margin-right: 30px;
}
i.icon-sign {
  margin-top: 4px;
}
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #FFF;
}
.sign-help {
  margin-top: -12px;
  margin-bottom: 10px;
}
hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.15), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.15), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.15), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.15), rgba(0,0,0,0));
  border: 0;
}
#flash_msg_div {
  position: fixed;
  top: 50px;
  z-index: 9000;
  margin-bottom: 0;
}
#flash_msg {
  display: none;
}
#sign_in {
  display: none;
}
#sign_up {
  display: none;
}