<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>注册登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="nemo">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/sign.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/imgs/ico/favicon.ico">
    <link rel="apple-touch-icon" href="/imgs/ico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/imgs/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/imgs/ico/apple-touch-icon-114x114.png">
  </head>

  <body cz-shortcut-listen="true">
    <!-- Navbar 
      ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">穗彩国际-SonClub</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a id="rePass" href="#repass">忘记密码</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Main 
      ================================================== -->
    <div class="container">
<section id="sign_in">
  <div class="sign-in-title">
    <h1>Hi, 卵崽们!!!</h1>
    <p>还等什么，赶紧注册登录吧。{{foo}}</p>
  </div>
  <!-- sign in 
    ================================================== -->
  <div class="row sign-in">
    <form id='signin_form' action='/signin' method='post'>
      <input type='hidden' name='_csrf' value='{{ csrf }}' />
      <div class="span2 nbsp">&nbsp;</div>
      <div class="span2 input-div">
        <div class="input-prepend">
          <span class="add-on" id="sign_span">
            <i class="icon-envelope icon-sign"></i>
          </span>
          <input type="text" name="email" class="input-large sign-in-input" placeholder="name@example.com">
        </div>
        <p class="help-block sign-help">请输入邮箱,不能为空</p>
      </div>
      <div class="span2 input-div">
        <div class="input-prepend">
          <span class="add-on" id="sign_span">
            <i class="icon-asterisk icon-sign"></i>
          </span>
          <input type="password" name="password" class="input-large sign-in-input" placeholder="password">
        </div>
        <p class="help-block sign-help">请输入密码,不能为空</p>
      </div>
      <div class="span1 btn-div">
        <a class="btn btn-primary btn-large" id="goal">
          <i class="icon-play-circle icon-white"></i>&nbsp;<strong>Goal</strong>
        </a>
      </div>
      <div class="span1 btn-div">
        <a class="btn btn-primary btn-large" id="to_signup">
          <i class="icon-user icon-white"></i>&nbsp;<strong>注册</strong>
        </a>
      </div>
    </form>
  </div>
</section>

<!-- sign up
  ================================================== -->
<section id="sign_up">
  <div class="sign-up">
    <form id='signup_form' action='/signup' method='post'>
      <div class="row sign-up-title">
        <div class="span4 nbsp">&nbsp;</div>
        <div class="span3">
          <h1>注册新用户</h1>
        </div>
      </div>
      <div class="row">
        <div class="span4 nbsp">&nbsp;</div>
        <div class="span2 input-div">
          <div class="input-prepend">
            <span class="add-on" id="sign_span">
              <i class="icon-user icon-sign"></i>
            </span>
            <input type="text" name="name" class="input-large sign-in-input" placeholder="name">
          </div>
          <p class="help-block sign-help">填写昵称,用于身份显示</p>
        </div>
      </div>
      <div class="row">
        <div class="span4 nbsp">&nbsp;</div>
        <div class="span2 input-div">
          <div class="input-prepend">
            <span class="add-on" id="sign_span">
              <i class="icon-envelope icon-sign"></i>
            </span>
            <input type="text" name="email" class="input-large sign-in-input" placeholder="name@example.com">
          </div>
          <p class="help-block sign-help">填写有效邮箱,用于登录、激活、找回密码</p>
        </div>
      </div>
      <div class="row">
        <div class="span4 nbsp">&nbsp;</div>
        <div class="span2 input-div">
          <div class="input-prepend">
            <span class="add-on" id="sign_span">
              <i class="icon-asterisk icon-sign"></i>
            </span>
            <input type="password" name="password" class="input-large sign-in-input" placeholder="password">
          </div>
          <p class="help-block sign-help">填写密码,用于登录</p>
        </div>
      </div>
      <div class="row sign-up-submit">
        <div class="span4 nbsp">&nbsp;</div>
        <div class="span4">
          <a class="btn btn-primary btn-large" id="shoot">
            <i class="icon-fire icon-white"></i>&nbsp;<strong>立即入伙</strong>
          </a>&nbsp;&nbsp;&nbsp;
          <a class="btn btn-primary btn-large" id="to_signin">
            <i class="icon-chevron-up icon-white"></i>&nbsp;<strong>返回登录</strong>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span4 nbsp">&nbsp;</div>
        <div class="span4">
          <h6>* 入伙即同意以上规则和奖惩</h6>
        </div>
      </div>
    </form>
  </div>
</section><!-- /sign up -->

<!--[if IE]>
  <hr id="info_hr">
<![endif]-->
<![if !IE]>
  <hr id="info_hr" class="soften">
<![endif]>

<!-- info 
    ================================================== -->
<section id="info">
  <div class="row info">
    <div class="span4">
      <h2>介绍{{ errMsg }}</h2>
       <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh ,sdut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">更多 &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>规则</h2>
       <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, utfermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">更多 &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>奖惩</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit met risus.</p>
      <p><a class="btn" href="#">更多 &raquo;</a></p>
    </div>
  </div>
</section><!-- /info -->

<hr id="footer_hr">

<!-- Footer
  ================================================== -->
<footer class="footer">
  <p class="pull-right">By @nemo_zhong</p>
  <p>Copyright © 2012 SonClub</p>
</footer>
    </div> <!-- /container -->
    
    <!-- Le javascript 
      ================================================== -->
    <script src="/libs/jquery-1.7.1.min.js"></script>
    <script src="/libs/jquery.validationEngine.js"></script>

    <!-- Analytics 
      ================================================== -->
    <script>
        $(document).ready(function() {
            {% if signAction == 'signUp' %}
                $('#sign_in').hide();
            {% else %}
                $('#sign_up').hide();
            {% endif %}

            $("#to_signup").on("click", function() {
                $("#sign_in").slideUp('slow');
                $("#sign_up").slideDown('slow');
            });
            $("#to_signin").on("click", function() {
                $("#sign_up").slideUp('slow');
                $("#sign_in").slideDown('slow');
            });
            $("#goal").on("click", function() {
                $("#signin_form").submit();
                $(this).addClass('disabled');
            });
            $("#shoot").on("click", function() {
                $("#signup_form").submit();
                $(this).addClass('disabled');
            });
      });
    </script>
  </body>
</html>
