{% extends 'template/normal.html' %}

{% block title %}近期赛况{% endblock %}
{% block header_h %}近期赛况{% endblock %}
{% block header_p %}卵崽们! 速度入伙, 人满立即订场...{% endblock %}

{% block content %}
<div class="row">
  <div class="span12 main-info">
    <div class="row">
      <div class="span7 main-info-left">
        <div class="main-info-em">
          <strong>即将开赛: </strong>
          <span class="label label-important">2012-04-02 星期五 6:30-8:30 (暂定)</span>
          | <span class="label label-important">边防球场 (暂定)</span>
          &nbsp;&nbsp;<a class="btn btn-primary btn-small" id="change_info">另选</a>
        </div>
        <div class="main-info-em">
          <strong>入伙队员: </strong>
          <span class="label label-info">nemo</span>
          <span class="label label-info">nemo</span>
          <span class="label label-info">nemo</span>
          <span class="label label-info">nemo</span>
          <span class="label label-info">nemo</span>
          <span class="label label-info">nemo</span>
          <span class="label label-info">nemo</span>
        </div>
        <div class="main-info-em">
          <strong>目前状况: </strong>
          <span class="label label-warning">6&nbsp;缺&nbsp;1</span>
          | <span class="label label-warning">nemo&nbsp;负责订场</span>
        </div>
      </div>
      <div class="span3 main-info-right">
        <div class="main-info-em" >
          <div class="btn-group" data-toggle="buttons-radio">
            <a class="btn btn-primary btn-large"><strong>入伙</strong></a>
            <a class="btn btn-primary btn-large"><strong>例假</strong></a>
          </div>
        </div>
        <div class="main-info-em" >
          <a class="btn btn-primary btn-large">
            <i class="icon-time icon-white"></i>&nbsp;&nbsp;<strong>立即&nbsp;订场</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block libs %}
{% parent %}

{% endblock %}

{% block scripts %}
$(document).ready(function(){

});
{% endblock %}