{% extends 'template/normal.html' %}

{% block title %}比赛{% endblock %}
{% block header_h %}近期比赛{% endblock %}
{% block header_p %}卵崽们! 速度报名, 即刻订场...{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <ul id="matchNav" class="nav nav-tabs funcNav">
      <li><a href="#home" data-toggle="tab"><strong>本周</strong></a></li>
      <li><a href="#profile" data-toggle="tab"><strong>上周</strong></a></li>
    </ul>
    <div class="tab-content funcContent">
      <div class="tab-pane" id="home"></div>
      <div class="tab-pane" id="profile">sssss</div>
    </div>
  </div>
</div>
{% endblock %}


{% block libs %}
{% parent %}

{% endblock %}

{% block scripts %}
$(document).ready(function(){

});
{% endblock %}